-ksp_type preonly
-pc_type lu
-pc_factor_mat_solver_type mumps

-ts_type rk
-ts_rk_type 5dp
-ts_rtol 1e-50
-ts_atol 1e-7
-ts_adapt_wnormtype infinity
-ts_max_steps 10 

# -saved_gf_path /home/jyun/softwares/project-tandem/build-gf-debug-2d-p6/setups/gf_n15
-saved_gf_path /home/jyun/softwares/project-tandem/build-gf-debug-2d-p6/setups/gf_serial

-ts_monitor
# -log_view